/* Base styles and resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #4a2c4f;
  background-image: url("assets/438198.gif");
  background-attachment: scroll;
  margin: 0;
  min-height: 99%;
  width: 100%;
  color: #519975;
  -moz-text-size-adjust: auto;
  -webkit-text-size-adjust: auto;
  text-size-adjust: auto;
  overflow-x: hidden;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.1rem;
}

/* Main container */
.main-container {
  margin: 0.5rem;
  position: relative;
  overflow: hidden;
}

/* Terminal window */
.terminal-window {
  border: 1px solid #7ae0ca;
  background-color: #081d2dd8;
  border-radius: 2px;
  box-shadow:
    0 20px 25px -5px #1d1e1fb4,
    0 8px 10px -6px #1d1e1fb4;
  overflow-y: scroll;
  resize: both;
  max-height: calc(100vh + 2rem);
}

.terminal-window:hover {
  backdrop-filter: blur(4px);
}

/* Header styles */
header {
  text-align: center;
  color: #519975;
}

header p {
  padding: 0.5rem;
  color: #94a3b8;
}

header hr {
  border-color: #7ae0ca;
}

.github-icon {
  padding-top: 2.5px;
  font-size: 1.25rem;
  float: left;
  color: #64748b;
}

.github-icon:hover {
  color: #9d174d;
}

.close-icon {
  padding-top: 2.5px;
  font-size: 1.25rem;
  float: right;
  color: #64748b;
}

.close-icon:hover {
  color: #ef4444;
}

/* Main content */
.content {
  padding: 1rem;
}

/* ASCII art */
.ascii {
  padding-top: 0.5rem;
  padding-bottom: 1.25rem;
  color: #8de2d0ac;
  white-space: pre-wrap;
  display: inline-block;
  overflow-wrap: break-word;
  line-height: 1;
  font-family:
    monospace,
    -webkit-pictograph;
}

/* Profile info */
.profile-info {
  padding-left: 0.5rem;
  float: right;
}

.info-item {
  color: #7ae0ca;
  font-size: 17.3px;
}

.info-item i {
  margin-right: 0.9rem;
}

.divider {
  color: #8de2d0;
}

.link-text {
  font-size: 14.8px;
  padding: 0.25rem;
}

.terminal {
  display: block;
}
/* Terminal input */
#terminal {
  margin-top: 1rem;
}

#command {
  cursor: text;
  height: 50px;
  color: #73abad;
}

.texter {
  opacity: 0;
  filter: alpha(opacity=0);
  left: -1000px;
  position: absolute;
}

#liner {
  line-height: 1.3em;
  margin-top: -2px;
  animation: show 0.5s ease forwards;
  animation-delay: 1.2s;
  opacity: 0;
}

#liner::before {
  color: #519975;
  content: "[prithvi@archrx5500m]~$";
}

#liner.password::before {
  content: "Password:";
}

.cursor {
  font-size: 12px;
  color: #73abad;
  background-color: #73abad;
  position: relative;
  opacity: 1;
  height: 1.5em;
  width: 10px;
  max-width: 10px;
  transform: translateY(4px);
  overflow: hidden;
  text-indent: -5px;
  display: inline-block;
  text-decoration: blink;
  animation: blinker 1s linear infinite;
}

/* Footer styles */
footer {
  padding-top: 100%;
}

.spotify-panel {
  padding: 0.5rem;
  background-color: #061826a7;
  border: 1px solid #7ae0ca;
  border-radius: 2px;
  width: 100%;
  float: right;
  position: relative;
  bottom: 1rem;
}

.spotify-icon {
  font-size: 3rem;
}

.spotify-info {
  padding-left: 0.5rem;
  font-size: 15px;
}

.track-info {
  text-decoration: underline;
  font-size: 15px;
}

.license-info {
  font-size: 12px;
}

/* Typography */
b {
  font-weight: bold;
  text-decoration: underline;
}

a {
  color: #73abad;
  text-decoration: inherit;
}

a:hover {
  background: #73abad;
  color: #211830;
}

a:focus {
  outline: 0;
}

/* Utils */
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

/* Hide scrollbar for webkit browsers */
.overflow-y-scroll::-webkit-scrollbar {
  display: none;
}

/* Animations */
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* Colors */
.index {
  color: #dcdccc;
}
.color2 {
  color: #8285c1f0;
}
.command {
  color: #73abad;
  text-shadow: 0 0 5px #73abad;
}
.error {
  color: #6d71b9d9;
}
.white {
  color: #fff;
}

/* Media Queries */
@media only screen and (min-width: 360px) {
  .ascii {
    font-size: 20px;
  }
}

@media only screen and (min-width: 375px) {
  .ascii {
    font-size: 20px;
  }
}

@media only screen and (min-width: 413px) {
  .ascii {
    font-size: 20px;
  }
}

@media only screen and (min-width: 522px) {
  .ascii {
    font-size: 21px;
  }
}

@media only screen and (min-width: 591px) {
  .ascii {
    font-size: 22px;
  }
}

@media only screen and (min-width: 621px) {
  .ascii {
    font-size: 23px;
  }
}

@media only screen and (min-width: 768px) {
  .spotify-panel {
    width: max-content;
  }

  .spotify-icon {
    font-size: 5rem;
    animation: spin 1s linear infinite;
    animation-duration: 12s;
  }

  .spotify-info {
    flex-direction: column;
    font-size: 17px;
  }

  .track-info {
    font-size: 17px;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}

@media only screen and (min-width: 810px) {
  .ascii {
    font-size: 24px;
  }
  .Profile {
    flex-direction: row;
  }
}

@media only screen and (min-width: 815px) {
  .ascii {
    font-size: 25px;
  }
}

@media only screen and (min-width: 1024px) {
  .ascii {
    font-size: 40px;
  }

  footer {
    padding-top: 28.5%;
  }
}
