@tailwind base;
@tailwind components;
@tailwind utilities;


body {
   
  
    background-color: #592f5de1; 
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1048%26quot%3b)' fill='none'%3e%3cuse xlink:href='%23SvgjsSymbol1055' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1055' x='720' y='0'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1048'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1052'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1053'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1051'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1050'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1049'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1054'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1055'%3e%3cuse xlink:href='%23SvgjsPath1049' x='30' y='30' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1050' x='30' y='90' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1049' x='30' y='150' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1049' x='30' y='210' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='30' y='270' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1052' x='30' y='330' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='30' y='390' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1052' x='30' y='450' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1053' x='30' y='510' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1050' x='30' y='570' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='90' y='30' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1050' x='90' y='90' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1049' x='90' y='150' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1049' x='90' y='210' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='90' y='270' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1049' x='90' y='330' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1050' x='90' y='390' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='90' y='450' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='90' y='510' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1049' x='90' y='570' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='150' y='30' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1050' x='150' y='90' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1050' x='150' y='150' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1049' x='150' y='210' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='150' y='270' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='150' y='330' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='150' y='390' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='150' y='450' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1050' x='150' y='510' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1049' x='150' y='570' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1050' x='210' y='30' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1050' x='210' y='90' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1049' x='210' y='150' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1050' x='210' y='210' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='210' y='270' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='210' y='330' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='210' y='390' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1052' x='210' y='450' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1050' x='210' y='510' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1053' x='210' y='570' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1049' x='270' y='30' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='270' y='90' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='270' y='150' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1054' x='270' y='210' stroke='rgba(178%2c 102%2c 211%2c 0.92)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='270' y='270' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='270' y='330' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1049' x='270' y='390' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='270' y='450' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1054' x='270' y='510' stroke='rgba(178%2c 102%2c 211%2c 0.92)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1053' x='270' y='570' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1050' x='330' y='30' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='330' y='90' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='330' y='150' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='330' y='210' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1052' x='330' y='270' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='330' y='330' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1052' x='330' y='390' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1050' x='330' y='450' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1049' x='330' y='510' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1049' x='330' y='570' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='390' y='30' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1049' x='390' y='90' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='390' y='150' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1050' x='390' y='210' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='390' y='270' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='390' y='330' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='390' y='390' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='390' y='450' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='390' y='510' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1050' x='390' y='570' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='450' y='30' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1049' x='450' y='90' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='450' y='150' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='450' y='210' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1050' x='450' y='270' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='450' y='330' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1050' x='450' y='390' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='450' y='450' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1054' x='450' y='510' stroke='rgba(178%2c 102%2c 211%2c 0.92)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1050' x='450' y='570' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1049' x='510' y='30' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1049' x='510' y='90' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='510' y='150' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1049' x='510' y='210' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1053' x='510' y='270' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1052' x='510' y='330' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1049' x='510' y='390' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='510' y='450' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1049' x='510' y='510' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='510' y='570' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='570' y='30' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='570' y='90' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='570' y='150' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1050' x='570' y='210' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1049' x='570' y='270' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1053' x='570' y='330' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='570' y='390' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='570' y='450' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='570' y='510' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='570' y='570' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1049' x='630' y='30' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1050' x='630' y='90' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1049' x='630' y='150' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1050' x='630' y='210' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1050' x='630' y='270' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1054' x='630' y='330' stroke='rgba(178%2c 102%2c 211%2c 0.92)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1053' x='630' y='390' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='630' y='450' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1050' x='630' y='510' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1050' x='630' y='570' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='690' y='30' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='690' y='90' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='690' y='150' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1052' x='690' y='210' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1050' x='690' y='270' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='690' y='330' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='690' y='390' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1050' x='690' y='450' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1051' x='690' y='510' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1050' x='690' y='570' stroke='rgba(178%2c 102%2c 211%2c 0.92)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
  }
@media only screen and (min-width: 350px){
 

  .ascii{
      font-size: 6.5px;
  }

}


  @media only screen and (min-width: 360px){
 

  .ascii{
      font-size: 6.6px;
  }

}

@media only screen and (min-width: 375px){
 

  .ascii{
      font-size: 10px;
     
  }

}

@media only screen and (min-width: 413px){
 

  .ascii{
      font-size: 12px;
     
  }

}

@media only screen and (min-width: 522px){
 

  .ascii{
      font-size: 15px;
    
  }

}

@media only screen and (min-width: 591px){
 

  .ascii{
      font-size: 18px;
  }

}

@media only screen and (min-width: 621px){
 

  .ascii{
      font-size: 19px;
  }

}


@media only screen and (min-width: 810px){
 

  .ascii{
      font-size: 17px;
  }

}

@media only screen and (min-width: 815px){
 

  .ascii{
      font-size: 19px;
  }

}


@media only screen and (min-width: 1024px){
 

  .ascii{
      font-size: 20px;
  }

}


.texter {
  opacity: 0;
  filter: alpha(opacity=0);
  left: -1000px;
  position: absolute;
}


@keyframes blink {
  50% {
    opacity: 0;
  }
}

::-webkit-scrollbar {
  display: none;
}

.cursor {
  font-size: 12px;
  color: #73ABAD;
  background-color: #73ABAD;
  position: relative;
  opacity: 1;
  height: 1.5em;
  width: 10px;
  max-width: 10px;
  transform: translateY(4px);
  overflow: hidden;
  text-indent: -5px;
  display: inline-block;
  text-decoration: blink;
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
#command {
  cursor: text;
  height: 50px;
  color: #73ABAD;
}
#liner {
  line-height: 1.3em;
  margin-top: -2px;
  animation: show 0.5s ease forwards;
  animation-delay: 1.2s;
  opacity: 0;
}
#liner::before {
  color: #519975;
  content: "prithvi@vaio-VPCCW16FG:~$";
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.no-animation {
  animation: typing 0 steps(30, end);
}
.margin {
  margin-left: 20px;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {  cursor: url(https://www.w3schools.com/images/compatible_chrome.png);
    width: 100%;
  }
}
.index {
  color: #DCDCCC;
}
.color2 {
  color: #8285c1f0;
}
.command {
  color: #73ABAD;
  text-shadow: 0 0 5px #73ABAD; 
}
.error {
  color: #6d71b9d9;
}
.white {
  color: #fff; 
}
.inherit,
a {
  color: #73ABAD;
}
a {
  text-decoration: inherit;
}
a:hover {
  background: #73ABAD;
  color: #211830;
}
a:focus {
  outline: 0;
}

body {
  margin: 0;
  min-height: 99%;
  width: 100%;
  color: #519975;

}


